
.item {
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    position: relative;
    .check {
        margin-right: 10px;
        cursor: pointer;
        img {
            width: 20px;
        }
    }
    .delete {
        position: absolute;
        top: -8px;
        right: 5px;
        font-weight: bold;
        &:hover {
            filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 0, 0)); 
            cursor: pointer;
        }
        img {
            width: 20px;
        }
    }
    .item-p--completed {
        text-decoration: line-through;
    }
    .item-check--active {
        img {
            filter: opacity(0.4) drop-shadow(0 0 0 rgb(0, 255, 34)); 
        }
    }
}